*~
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nls
*.nlo
*.out
*.pdf
*.pyg
*.snm
*.synctex.gz
*.toc
*.vrb
*.xml
